.notifications {
	display: grid;
	grid-auto-rows: min-content;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	align-items: self-start;
	padding: 10px;
	border: 1px solid #eeeeee;
	color: #757575;
	background-color: white;
	position: relative;
	overflow-y: auto;
	gap: 5px;
}

.notification {
	display: grid;
	grid-template-columns: 50px 25px 40px min-content;
	align-items: center;
	grid-gap: 0.5em;
}

.notification-box {
	display: grid;
	align-items: center;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #eeeeee;
	color: #757575;
	background-color: white;
	grid-gap: 0.5em;
	max-width: 300px;
	white-space: nowrap;
	grid-column: 4;
}

.notification-box-empty {
	display: grid;
	align-items: center;
	margin-bottom: 10px;
	margin-left: 110px;
	padding: 10px;
	background-color: white;
	grid-gap: 0.5em;
	max-width: 300px;
	white-space: nowrap;
	grid-column: 2;
}

.h1 {
	font-weight: bold;
}

.h2 {
	width: 96%;
	outline: none; 
	font-size: 1em;
	border-width: 0px;
	height: 100%;
}

.time_text {
	opacity: 0.6;
	font-size: 0.8em;
	justify-self: center;
}

.notification .profile_picture {
	width: 30px;
}

.notification .circled {
    width: 30px;
    height: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}