.threadsPane {
	overflow-y: auto;
}

.threads {
	display: grid;
	grid-auto-rows: min-content;
	margin-left: 10px;
	margin-bottom: 10px;
	align-items: self-start;
	border: 1px solid #eeeeee;
	color: #757575;
	background-color: white;
	position: relative;
	overflow-y: auto;
}

.thread {
	display: grid;
	grid-template-columns: min-content auto min-content;
	align-items: center;
	padding: 10px;
	border: 1px solid #eeeeee;
	color: #757575;
	background-color: white;
	width: 325px;
}

.thread_preview {
	display: inline-grid;
    margin-left: 10px;
	align-items: center;
	background-color: white;
	height: 100%;
}

.h1 {
	font-weight: bold;
}

.h2 {
	width: 96%;
	outline: none; 
	font-size: 1em;
	border-width: 0px;
	height: 100%;
}

.time_text {
	opacity: 0.6;
	font-size: 0.8em;
}

.more_threads {
	width: 100%;
	text-align: center;
	margin: 0.8em;
}

.thread .profile_picture {
	width: 70px;
}

.thread .circled {
    width: 70px;
    height: 70px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.matches {
	display: flex;
	align-items: flex-start;
	width: 300px;
	min-width: 100%;
	overflow-x: auto;
}